.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tagLocation {
    color: grey;
    font-size: 18px;
    margin-top: 10px;
}
.fullName{
    color:black;
    font-size: 30px;
}
.stats{
    display: flex;
    gap: 10px;
    margin-top: 25px;
    justify-content: space-around;
}

.label,
.quantity{
    display: block;
}
